// custom variables
$primary: #52116b;
$light: #f6ecf9;
$secondary: #0b061f;
$font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$zindex-offcanvas: 1095;

// import the functions & variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// custom theme colours
$custom-theme-colors: (
  "altlight": #f2ecf9,
  "altdark": #52116b,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);